// COLORS
$color-primary: #839788;
$color-primary-light: #c8e7d0;
$color-primary-dark: #556258;

$color-secondary-light: #cfd2cd;
$color-secondary-dark: #686967;

$color-white: #fff;
$color-black: #000;

$color-error: #ff3333;

// FONT
$default-font-size: 1.6rem;
