.navbar {
  display: none;
  width: 100%;
  color: $color-white;
  font-size: 1.6em;
  margin-top: 1em;

  @include glassmorphism($color-secondary-dark);

  @include respond(tab-port) {
    display: block;
  }

  &--items {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }

  &--item {
    padding: 2em;

    &:hover {
      cursor: pointer;
    }

    &:hover .navbar--icon {
      fill: $color-primary;
      transform: scale(1.2);
      transition: transform 0.1s linear;
    }

    &-active {
      border-top: 2px solid $color-primary;
    }

    &-active .navbar--icon {
      fill: $color-primary;
    }
  }

  &--icon {
    fill: $color-white;
    width: 2em;
    height: 2em;
  }
}
