.pagination {
  display: flex;
  margin: 2em 0;
  &__btn {
    padding: 1em;
    border: 1px solid $color-black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);

    &:hover {
      cursor: pointer;
      box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
    }
  }
  &__icon {
    width: 2.5em;
    height: 2.5em;
  }
  &__next {
    margin-left: auto;
  }
}
