.finder {
  flex: auto;
  flex-basis: 70%;
  min-height: 600px;
  margin: 1em;
  padding: 0 2em;

  @include respond(desktop-only) {
    border-right: 1px solid $color-white;
  }

  @include respond(tab-port) {
    display: none;
    margin: 2em 0 0 0;
    @include glassmorphism($color-secondary-dark);
  }

  &-form {
    display: flex;
  }

  &-search {
    width: 100%;
    padding: 1em;
    margin-right: 1em;
    font-size: 2em;
    border: 1px solid $color-black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: transparent;

    &:focus {
      background-color: $color-white;
      box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
    }
  }

  &-btn {
    max-width: 100px;
    padding: 1em;
    margin-left: auto;
    font-size: 2em;
    border: 1px solid $color-black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);

    &:hover {
      cursor: pointer;
      background-color: $color-white;
      box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
    }

    &--icon {
      width: 20px;
      height: 20px;
    }
  }

  &-images {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;

    a {
      display: contents;
    }

    img {
      display: block;
      padding: 0.5em;
      object-fit: contain;
      width: 25%;
      height: auto;
      position: relative;

      @include respond(big-desktop) {
        width: 20%;
      }

      @include respond(tab-land) {
        width: 50%;
      }

      &:hover {
        cursor: pointer;
        filter: brightness(50%);
      }
    }
  }
}
