.header {
  margin: 1em;

  &--logo {
    background-color: $color-primary;
    color: $color-black;
    font-size: 3.5em;
    padding: 1em;

    @include glassmorphism($color-secondary-dark);

    @include respond(tab-port) {
      text-align: center;
    }
  }
}
